.lw {
  font-size: 60px;
}

body {
  background-color: #161616;
  /*background-image:url(https://raw.githubusercontent.com/ACARROT1138/Jozef-Tan/main/Background.png);*/
}

h1 {
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  top: 30%;
  left: 50%;
  text-align: center;
}

h2 {
  color: white;
  font-family: sans-serif;
  font-size: 1.75vw;
  top: 30%;
  left: 50%;
  margin-right: 10%;
  margin-left:10%;
  text-align: center;
  font-weight: lighter;
}

.bodytext {
  color: white;
  font-family: sans-serif;
  font-size: 1.75vw;
  position: absolute;
  top: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  font-weight: lighter;
  /*margin-top: auto;/*
  /*transform: translate(-25%, -50%);*/
}

p {
  color: grey;
  font-family: sans-serif;
  font-size: 1vw;
  top: 30%;
  left: 50%;
  text-align: center;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {

  float: left;
  width: 33.33%;
  display: block;
  padding-top: 4%;
  padding-bottom: 4%;

}

.gap {
  padding-top: 10vh;
  padding-bottom: 3vh;
  color: white;
  font-family: sans-serif;
  font-size: 2vw;
  top: 30%;
  left: 50%;
  text-align: center;
}

/* Clear floats after image containers */
.row:after {
  content: "";
  clear: both;
  display: table;
}

.showcaseimage {
  opacity: 0.3;
  filter: blur(2px);
}

/* Centered text */
.heading {
  color: white;
  font-family: sans-serif;
  font-size: 3vw;
  position: absolute;
  top: 20%;
  left: 43.5%;
  text-align: center;
  font-weight: bold;
}

.subheading {
  color: white;
  font-family: sans-serif;
  font-size: 2.5vw;
  position: absolute;
  top: 30%;
  left: 44.5%;
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* relevant styles */
.imagee {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 80%;
  position: relative;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  background: 161616;
  color: white;
  visibility: hidden;
  opacity: 0;
  font-family: sans-serif;
  font-size: 2vw;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  left: 10%;
  right: 10%;
  /* transition effect. not necessary */
  transition: opacity 0.5s, visibility 0.5s;
}

footer {
  margin-top: 50px;

}


.img__img {
  transform: scale(0.94);
  transition: filter 0.5s;
}

.imagee:hover .img__img {
  filter: blur(5px) grayscale(75%) brightness(0.2);
  left: 5%;
}

.imagee:hover .img__description {
  visibility: visible;
  opacity: 0.8;
  /*filter: blur(5px);*/
}
